In [2]:
import pandas as pd

In [3]:
crashes = pd.read_csv('bitre_fatal_crashes_dec2024.csv', skiprows = 3, header = 1)
crashes.columns = crashes.columns.str.replace('\n', '', regex = False)
crashes.head(5)

/var/folders/q2/bfhkc65d3gz4mgwcfz_ljdt00000gn/T/ipykernel_1846/90373262.py:1: DtypeWarning: Columns (11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  crashes = pd.read_csv('bitre_fatal_crashes_dec2024.csv', skiprows = 3, header = 1)

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,Speed Limit,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day
0,20241115,NSW,12,2024,Friday,04:00,Single,1,No,No,No,100,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night
1,20241125,NSW,12,2024,Friday,06:15,Single,1,No,No,No,80,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,Weekday,Day
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,No,No,No,50,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,Weekday,Day
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,No,No,No,100,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,Weekday,Day
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,-9,-9,-9,-9,Unknown,NaN,NaN,Undetermined,No,No,Weekday,Day

In [4]:
fatalities = pd.read_csv('bitre_fatalities_dec2024.csv', skiprows = 3, header = 1)
fatalities.columns = fatalities.columns.str.replace('\n', '', regex = False)
fatalities.head(5)

/var/folders/q2/bfhkc65d3gz4mgwcfz_ljdt00000gn/T/ipykernel_1846/3386933652.py:1: DtypeWarning: Columns (10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  fatalities = pd.read_csv('bitre_fatalities_dec2024.csv', skiprows = 3, header = 1)

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2021,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20241115,NSW,12,2024,Friday,04:00,Single,No,No,No,...,74,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,Yes,No,65_to_74,Weekday,Night
1,20241125,NSW,12,2024,Friday,06:15,Single,No,No,No,...,19,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,No,No,17_to_25,Weekday,Day
2,20246013,Tas,12,2024,Friday,09:43,Multiple,No,No,No,...,33,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,Yes,No,26_to_39,Weekday,Day
3,20241002,NSW,12,2024,Friday,10:35,Multiple,No,No,No,...,32,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,No,No,26_to_39,Weekday,Day
4,20242261,Vic,12,2024,Friday,11:30,Multiple,-9,-9,-9,...,62,Unknown,NaN,NaN,Undetermined,No,No,40_to_64,Weekday,Day

In [5]:
crashes_fatalities = pd.merge(crashes[['Crash ID', 'State','Month','Year','Dayweek','Time','Crash Type','Number Fatalities','Bus Involvement','Heavy Rigid Truck Involvement','Articulated Truck Involvement','Speed Limit','National Remoteness Areas','SA4 Name 2021','National LGA Name 2021','National Road Type','Christmas Period','Easter Period','Day of week','Time of Day']], fatalities[['Crash ID', 'Road User', 'Gender','Age','Age Group']], on='Crash ID', how='inner')

print(crashes_fatalities)

       Crash ID State  Month  Year    Dayweek   Time Crash Type  \
0      20241115   NSW     12  2024     Friday  04:00     Single
1      20241125   NSW     12  2024     Friday  06:15     Single
2      20246013   Tas     12  2024     Friday  09:43   Multiple
3      20241002   NSW     12  2024     Friday  10:35   Multiple
4      20242261   Vic     12  2024     Friday  11:30   Multiple
...         ...   ...    ...   ...        ...    ...        ...
56869  19896006   Tas      1  1989  Wednesday  20:20   Multiple
56870  19896006   Tas      1  1989  Wednesday  20:20   Multiple
56871  19896006   Tas      1  1989  Wednesday  20:20   Multiple
56872  19896006   Tas      1  1989  Wednesday  20:20   Multiple
56873  19895133    WA      1  1989  Wednesday  21:00   Multiple

       Number Fatalities Bus Involvement Heavy Rigid Truck Involvement  ...  \
0                      1              No                            No  ...
1                      1              No                            No  ...
2                      1              No                            No  ...
3                      1              No                            No  ...
4                      1              -9                            -9  ...
...                  ...             ...                           ...  ...
56869                  6              No                            -9  ...
56870                  6              No                            -9  ...
56871                  6              No                            -9  ...
56872                  6              No                            -9  ...
56873                  1              No                            -9  ...

      National LGA Name 2021         National Road Type Christmas Period  \
0                Wagga Wagga              Arterial Road              Yes
1                 Hawkesbury                 Local Road               No
2          Northern Midlands                 Local Road              Yes
3          Armidale Regional  National or State Highway               No
4                        NaN               Undetermined               No
...                      ...                        ...              ...
56869                    NaN               Undetermined               No
56870                    NaN               Undetermined               No
56871                    NaN               Undetermined               No
56872                    NaN               Undetermined               No
56873                    NaN               Undetermined               No

      Easter Period Day of week Time of Day  Road User  Gender Age Age Group
0                No     Weekday       Night     Driver    Male  74  65_to_74
1                No     Weekday         Day     Driver  Female  19  17_to_25
2                No     Weekday         Day     Driver  Female  33  26_to_39
3                No     Weekday         Day     Driver  Female  32  26_to_39
4                No     Weekday         Day  Passenger    Male  62  40_to_64
...             ...         ...         ...        ...     ...  ..       ...
56869            No     Weekday       Night  Passenger  Female  13   0_to_16
56870            No     Weekday       Night  Passenger    Male  13   0_to_16
56871            No     Weekday       Night     Driver    Male  18  17_to_25
56872            No     Weekday       Night  Passenger  Female  14   0_to_16
56873            No     Weekday       Night     Driver    Male  70  65_to_74

[56874 rows x 24 columns]

In [6]:
# For values that have '-9', it is a missing/unknown value
crashes_fatalities = crashes_fatalities.replace([-9, '-9'], pd.NA)
# For values, specifically in remoteness, that have 'Unknown'
crashes_fatalities = crashes_fatalities.replace('Unknown', pd.NA)
# For values, specifically in road type, that have 'Undetermined'
crashes_fatalities = crashes_fatalities.replace('Undetermined', pd.NA)
# For values that are blank
crashes_fatalities = crashes_fatalities.replace('', pd.NA)
crashes_fatalities.head(10)

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,Heavy Rigid Truck Involvement,...,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day,Road User,Gender,Age,Age Group
0,20241115,NSW,12,2024,Friday,04:00,Single,1,No,No,...,Wagga Wagga,Arterial Road,Yes,No,Weekday,Night,Driver,Male,74,65_to_74
1,20241125,NSW,12,2024,Friday,06:15,Single,1,No,No,...,Hawkesbury,Local Road,No,No,Weekday,Day,Driver,Female,19,17_to_25
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,No,No,...,Northern Midlands,Local Road,Yes,No,Weekday,Day,Driver,Female,33,26_to_39
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,No,No,...,Armidale Regional,National or State Highway,No,No,Weekday,Day,Driver,Female,32,26_to_39
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,<NA>,<NA>,...,NaN,<NA>,No,No,Weekday,Day,Passenger,Male,62,40_to_64
5,20243185,Qld,12,2024,Friday,13:00,Multiple,1,No,No,...,Lockyer Valley,National or State Highway,No,No,Weekday,Day,Passenger,Female,61,40_to_64
6,20244016,SA,12,2024,Friday,13:39,Single,1,No,No,...,Wakefield,Sub-arterial Road,Yes,No,Weekday,Day,Motorcycle rider,Male,47,40_to_64
7,20245001,WA,12,2024,Friday,17:15,Single,1,No,No,...,NaN,<NA>,No,No,Weekday,Day,Driver,Male,69,65_to_74
8,20243168,Qld,12,2024,Friday,19:00,Multiple,1,No,No,...,Southern Downs,Local Road,No,No,Weekend,Night,Passenger,Female,29,26_to_39
9,20246003,Tas,12,2024,Friday,19:30,Multiple,1,No,No,...,Brighton,Local Road,No,No,Weekend,Night,Motorcycle rider,Male,19,17_to_25

In [7]:
crashes_fatalities.dtypes

Crash ID                          int64
State                            object
Month                             int64
Year                              int64
Dayweek                          object
Time                             object
Crash Type                       object
Number Fatalities                 int64
Bus Involvement                  object
Heavy Rigid Truck Involvement    object
Articulated Truck Involvement    object
Speed Limit                      object
National Remoteness Areas        object
SA4 Name 2021                    object
National LGA Name 2021           object
National Road Type               object
Christmas Period                 object
Easter Period                    object
Day of week                      object
Time of Day                      object
Road User                        object
Gender                           object
Age                              object
Age Group                        object
dtype: object

In [8]:
crashes_fatalities['Bus Involvement'] = crashes_fatalities['Bus Involvement'].replace({'Yes': True, 'No': False})
crashes_fatalities['Heavy Rigid Truck Involvement'] = crashes_fatalities['Heavy Rigid Truck Involvement'].replace({'Yes': True, 'No': False})
crashes_fatalities['Articulated Truck Involvement'] = crashes_fatalities['Articulated Truck Involvement'].replace({'Yes': True, 'No': False})
crashes_fatalities['Christmas Period'] = crashes_fatalities['Christmas Period'].replace({'Yes': True, 'No': False})
crashes_fatalities['Christmas Period'] = crashes_fatalities['Christmas Period'].astype(bool)
crashes_fatalities['Easter Period'] = crashes_fatalities['Easter Period'].replace({'Yes': True, 'No': False})
crashes_fatalities['Easter Period'] = crashes_fatalities['Easter Period'].astype(bool)

crashes_fatalities['Speed Limit'] = pd.to_numeric(crashes_fatalities['Speed Limit'], errors='coerce')
crashes_fatalities['Speed Limit'] = crashes_fatalities['Speed Limit'].astype('Int64')
crashes_fatalities.head(5)

/var/folders/q2/bfhkc65d3gz4mgwcfz_ljdt00000gn/T/ipykernel_1846/2403094193.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  crashes_fatalities['Christmas Period'] = crashes_fatalities['Christmas Period'].replace({'Yes': True, 'No': False})
/var/folders/q2/bfhkc65d3gz4mgwcfz_ljdt00000gn/T/ipykernel_1846/2403094193.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  crashes_fatalities['Easter Period'] = crashes_fatalities['Easter Period'].replace({'Yes': True, 'No': False})

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Number Fatalities,Bus Involvement,Heavy Rigid Truck Involvement,...,National LGA Name 2021,National Road Type,Christmas Period,Easter Period,Day of week,Time of Day,Road User,Gender,Age,Age Group
0,20241115,NSW,12,2024,Friday,04:00,Single,1,False,False,...,Wagga Wagga,Arterial Road,True,False,Weekday,Night,Driver,Male,74,65_to_74
1,20241125,NSW,12,2024,Friday,06:15,Single,1,False,False,...,Hawkesbury,Local Road,False,False,Weekday,Day,Driver,Female,19,17_to_25
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,False,False,...,Northern Midlands,Local Road,True,False,Weekday,Day,Driver,Female,33,26_to_39
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,False,False,...,Armidale Regional,National or State Highway,False,False,Weekday,Day,Driver,Female,32,26_to_39
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,<NA>,<NA>,...,NaN,<NA>,False,False,Weekday,Day,Passenger,Male,62,40_to_64

In [9]:
crashes_fatalities['Christmas Period'] = crashes_fatalities['Christmas Period'].astype(bool)
crashes_fatalities['Easter Period'] = crashes_fatalities['Easter Period'].astype(bool)

In [10]:
crashes_fatalities = crashes_fatalities.rename(columns={'Crash ID': 'crashkey', 
                                  'State': 'state_name', 
                                  'Month':'month_name', 
                                  'Year':'year',
                                  'Dayweek':'day_of_week',
                                  'Time':'time_value',
                                  'Crash Type':'crash_type',
                                  'Number Fatalities':'number_fatalities',  
                                  'Bus Involvement':'bus_involved',
                                  'Heavy Rigid Truck Involvement':'heavy_rigid_truck_involved',
                                  'Articulated Truck Involvement':'articulated_truck_involved',
                                  'Speed Limit':'speed_limit',
                                  'National Remoteness Areas':'remoteness_area',
                                  'SA4 Name 2021':'sa4_name',
                                  'National LGA Name 2021':'lga_name',
                                  'National Road Type':'road_type',
                                  'Day of week':'weekday',
                                  'Time of Day':'time_of_day',
                                  'Road User':'road_user_value',
                                  'Gender':'gender_value',
                                  'Age':'age_value',
                                  'Age Group':'age_grp'                      
                                 })

crashes_fatalities.head(5)

,crashkey,state_name,month_name,year,day_of_week,time_value,crash_type,number_fatalities,bus_involved,heavy_rigid_truck_involved,...,lga_name,road_type,Christmas Period,Easter Period,weekday,time_of_day,road_user_value,gender_value,age_value,age_grp
0,20241115,NSW,12,2024,Friday,04:00,Single,1,False,False,...,Wagga Wagga,Arterial Road,True,False,Weekday,Night,Driver,Male,74,65_to_74
1,20241125,NSW,12,2024,Friday,06:15,Single,1,False,False,...,Hawkesbury,Local Road,False,False,Weekday,Day,Driver,Female,19,17_to_25
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,False,False,...,Northern Midlands,Local Road,True,False,Weekday,Day,Driver,Female,33,26_to_39
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,False,False,...,Armidale Regional,National or State Highway,False,False,Weekday,Day,Driver,Female,32,26_to_39
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,<NA>,<NA>,...,NaN,<NA>,False,False,Weekday,Day,Passenger,Male,62,40_to_64

In [11]:
duplicates = crashes_fatalities[crashes_fatalities.duplicated()]
duplicates

,crashkey,state_name,month_name,year,day_of_week,time_value,crash_type,number_fatalities,bus_involved,heavy_rigid_truck_involved,...,lga_name,road_type,Christmas Period,Easter Period,weekday,time_of_day,road_user_value,gender_value,age_value,age_grp
280,20245016,WA,10,2024,Saturday,05:12,Single,3,False,False,...,NaN,<NA>,False,False,Weekend,Night,Passenger,Male,22,17_to_25
1157,20245137,WA,2,2024,Sunday,11:12,Single,2,False,False,...,NaN,<NA>,False,False,Weekend,Day,Passenger,Female,7,0_to_16
1163,20247005,NT,2,2024,Sunday,18:00,Single,4,False,False,...,NaN,<NA>,False,False,Weekend,Night,Passenger,Female,<NA>,<NA>
1164,20247005,NT,2,2024,Sunday,18:00,Single,4,False,False,...,NaN,<NA>,False,False,Weekend,Night,Passenger,Female,<NA>,<NA>
1228,20241117,NSW,1,2024,Monday,21:40,Multiple,2,False,False,...,Hawkesbury,Arterial Road,False,False,Weekday,Night,Passenger,Male,17,17_to_25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56692,19895088,WA,1,1989,Monday,06:00,Single,3,False,<NA>,...,NaN,<NA>,True,False,Weekday,Day,Passenger,Male,17,17_to_25
56797,19895071,WA,1,1989,Sunday,22:17,Single,2,False,<NA>,...,NaN,<NA>,False,False,Weekend,Night,Passenger,Male,19,17_to_25
56809,19892372,Vic,1,1989,Thursday,14:08,Multiple,5,False,False,...,NaN,<NA>,False,False,Weekday,Day,Passenger,Female,65,65_to_74
56810,19892372,Vic,1,1989,Thursday,14:08,Multiple,5,False,False,...,NaN,<NA>,False,False,Weekday,Day,Passenger,Female,65,65_to_74
56870,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,...,NaN,<NA>,False,False,Weekday,Night,Passenger,Male,13,0_to_16

In [12]:
crashes_fatalities = crashes_fatalities.drop_duplicates()
new_duplicates = crashes_fatalities[crashes_fatalities.duplicated()]
new_duplicates

Empty DataFrame
Columns: [crashkey, state_name, month_name, year, day_of_week, time_value, crash_type, number_fatalities, bus_involved, heavy_rigid_truck_involved, articulated_truck_involved, speed_limit, remoteness_area, sa4_name, lga_name, road_type, Christmas Period, Easter Period, weekday, time_of_day, road_user_value, gender_value, age_value, age_grp]
Index: []

[0 rows x 24 columns]

In [13]:
invalid_speeds = crashes_fatalities[(crashes_fatalities['speed_limit'] < 5) | (crashes_fatalities['speed_limit'] > 130)]
invalid_speeds

Empty DataFrame
Columns: [crashkey, state_name, month_name, year, day_of_week, time_value, crash_type, number_fatalities, bus_involved, heavy_rigid_truck_involved, articulated_truck_involved, speed_limit, remoteness_area, sa4_name, lga_name, road_type, Christmas Period, Easter Period, weekday, time_of_day, road_user_value, gender_value, age_value, age_grp]
Index: []

[0 rows x 24 columns]

In [14]:
crashes_fatalities['holiday_type'] = 'None'  # default value

crashes_fatalities.loc[crashes_fatalities['Christmas Period'] == True, 'holiday_type'] = 'Christmas'
crashes_fatalities.loc[(crashes_fatalities['Easter Period'] == True) & (crashes_fatalities['Christmas Period'] != True), 'holiday_type'] = 'Easter'

crashes_fatalities.head(10)

,crashkey,state_name,month_name,year,day_of_week,time_value,crash_type,number_fatalities,bus_involved,heavy_rigid_truck_involved,...,road_type,Christmas Period,Easter Period,weekday,time_of_day,road_user_value,gender_value,age_value,age_grp,holiday_type
0,20241115,NSW,12,2024,Friday,04:00,Single,1,False,False,...,Arterial Road,True,False,Weekday,Night,Driver,Male,74,65_to_74,Christmas
1,20241125,NSW,12,2024,Friday,06:15,Single,1,False,False,...,Local Road,False,False,Weekday,Day,Driver,Female,19,17_to_25,None
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,False,False,...,Local Road,True,False,Weekday,Day,Driver,Female,33,26_to_39,Christmas
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,False,False,...,National or State Highway,False,False,Weekday,Day,Driver,Female,32,26_to_39,None
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,<NA>,<NA>,...,<NA>,False,False,Weekday,Day,Passenger,Male,62,40_to_64,None
5,20243185,Qld,12,2024,Friday,13:00,Multiple,1,False,False,...,National or State Highway,False,False,Weekday,Day,Passenger,Female,61,40_to_64,None
6,20244016,SA,12,2024,Friday,13:39,Single,1,False,False,...,Sub-arterial Road,True,False,Weekday,Day,Motorcycle rider,Male,47,40_to_64,Christmas
7,20245001,WA,12,2024,Friday,17:15,Single,1,False,False,...,<NA>,False,False,Weekday,Day,Driver,Male,69,65_to_74,None
8,20243168,Qld,12,2024,Friday,19:00,Multiple,1,False,False,...,Local Road,False,False,Weekend,Night,Passenger,Female,29,26_to_39,None
9,20246003,Tas,12,2024,Friday,19:30,Multiple,1,False,False,...,Local Road,False,False,Weekend,Night,Motorcycle rider,Male,19,17_to_25,None

In [15]:
print('States included in the data are:', crashes_fatalities['state_name'].unique().tolist())
print('Months included in the data are:', crashes_fatalities['month_name'].unique().tolist())
print('Days of week included in the data are:', crashes_fatalities['day_of_week'].unique().tolist())
print('Crash types included in the data are:', crashes_fatalities['crash_type'].unique().tolist())
print('Remoteness areas included in the data are:', crashes_fatalities['remoteness_area'].unique().tolist())
print('Road types included in the data are:', crashes_fatalities['road_type'].unique().tolist())
print('Weekday/night values included in the data are:', crashes_fatalities['weekday'].unique().tolist())
print('Time of day included in the data are:', crashes_fatalities['time_of_day'].unique().tolist())
print('Road user values included in the data are:', crashes_fatalities['road_user_value'].unique().tolist())
print('Gender values included in the data are:', crashes_fatalities['gender_value'].unique().tolist())

States included in the data are: ['NSW', 'Tas', 'Vic', 'Qld', 'SA', 'WA', 'ACT', 'NT']
Months included in the data are: [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Days of week included in the data are: ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
Crash types included in the data are: ['Single', 'Multiple']
Remoteness areas included in the data are: ['Inner Regional Australia', 'Outer Regional Australia', <NA>, 'Major Cities of Australia', 'Very Remote Australia', 'Remote Australia']
Road types included in the data are: ['Arterial Road', 'Local Road', 'National or State Highway', <NA>, 'Sub-arterial Road', 'Collector Road', 'Pedestrian Thoroughfare', 'Access road', 'Busway']
Weekday/night values included in the data are: ['Weekday', 'Weekend', <NA>]
Time of day included in the data are: ['Night', 'Day', <NA>]
Road user values included in the data are: ['Driver', 'Passenger', 'Motorcycle rider', 'Pedestrian', 'Pedal cyclist', 'Other/-9', <NA>, 'Motorcycle pillion passenger']
Gender values included in the data are: ['Male', 'Female', <NA>]

In [16]:
# Count how many NaNs are in each row
na_counts = crashes_fatalities.isna().sum(axis=1)

# Filter rows where NaN count is at least 10
rows_with_10_na = crashes_fatalities[na_counts >= 6]
crashes_fatalities = crashes_fatalities[crashes_fatalities.isna().sum(axis=1) < 6]

# View the result
print(rows_with_10_na.shape)  # To see how many rows match
rows_with_10_na.head()

(969, 25)

,crashkey,state_name,month_name,year,day_of_week,time_value,crash_type,number_fatalities,bus_involved,heavy_rigid_truck_involved,...,road_type,Christmas Period,Easter Period,weekday,time_of_day,road_user_value,gender_value,age_value,age_grp,holiday_type
4,20242261,Vic,12,2024,Friday,11:30,Multiple,1,<NA>,<NA>,...,<NA>,False,False,Weekday,Day,Passenger,Male,62,40_to_64,None
15,20242183,Vic,12,2024,Monday,01:09,Single,1,<NA>,<NA>,...,<NA>,False,False,Weekend,Night,Driver,Male,29,26_to_39,None
16,20242171,Vic,12,2024,Monday,02:40,Multiple,1,<NA>,<NA>,...,<NA>,True,False,Weekend,Night,Driver,Male,33,26_to_39,Christmas
27,20242156,Vic,12,2024,Monday,20:34,Single,1,<NA>,<NA>,...,<NA>,True,False,Weekday,Night,Motorcycle rider,Male,18,17_to_25,Christmas
34,20242141,Vic,12,2024,Saturday,04:17,Multiple,1,<NA>,<NA>,...,<NA>,False,False,Weekend,Night,Driver,Male,22,17_to_25,None

In [17]:
# Create date_df
date_df = crashes_fatalities[["year","month_name","day_of_week"]].drop_duplicates()
d_index = range(101,101+len(date_df))
date_df["date_id"] = ["D" + str(i) for i in d_index]
date_df = date_df[["date_id","day_of_week","month_name","year"]]
date_df

      date_id day_of_week  month_name  year
0        D101      Friday          12  2024
14       D102      Monday          12  2024
31       D103    Saturday          12  2024
56       D104      Sunday          12  2024
83       D105    Thursday          12  2024
...       ...         ...         ...   ...
56716   D3120    Saturday           1  1989
56757   D3121      Sunday           1  1989
56799   D3122    Thursday           1  1989
56824   D3123     Tuesday           1  1989
56846   D3124   Wednesday           1  1989

[3024 rows x 4 columns]

In [18]:
# Create time_df
time_df = crashes_fatalities[["time_of_day","time_value"]].drop_duplicates()
t_index = range(101,101+len(time_df))
time_df["time_id"] = ["T" + str(i) for i in t_index]
time_df = time_df[["time_id","time_value","time_of_day"]]
time_df

      time_id time_value time_of_day
0        T101      04:00       Night
1        T102      06:15         Day
2        T103      09:43         Day
3        T104      10:35         Day
5        T105      13:00         Day
...       ...        ...         ...
48024   T1626      23:51       Night
48948   T1627      08:54         Day
51785   T1628      03:42       Night
54238   T1629      22:33       Night
55730   T1630      06:57         Day

[1530 rows x 3 columns]

In [19]:
# Create holiday_df
holiday_df = crashes_fatalities[["holiday_type"]].drop_duplicates()
h_index = range(1,1+len(holiday_df))
holiday_df["holiday_id"] = ["H" + str(i) for i in h_index]
holiday_df = holiday_df[["holiday_id","holiday_type"]]
holiday_df

    holiday_id holiday_type
0           H1    Christmas
1           H2         None
892         H3       Easter

In [20]:
# Create outcome_df
outcome_df = crashes_fatalities[["crash_type","number_fatalities"]].drop_duplicates()
o_index = range(1,1+len(outcome_df))
outcome_df["outcome_id"] = ["O" + str(i) for i in o_index]
outcome_df = outcome_df[["outcome_id","number_fatalities","crash_type"]]
outcome_df

      outcome_id  number_fatalities crash_type
0             O1                  1     Single
2             O2                  1   Multiple
29            O3                  2     Single
38            O4                  2   Multiple
278           O5                  3     Single
376           O6                  4   Multiple
694           O7                  3   Multiple
871           O8                  4     Single
1484          O9                  5     Single
1646         O10                  6   Multiple
2017         O11                 10     Single
2217         O12                  5   Multiple
21222        O13                  6     Single
22099        O14                 11   Multiple
23324        O15                  7   Multiple
44169        O16                 12     Single
46031        O17                 10   Multiple
49367        O18                  7     Single
52493        O19                 11     Single
54081        O20                 35   Multiple
54591        O21                 20   Multiple

In [21]:
# Create vehicle_df
vehicle_df = crashes_fatalities[["bus_involved","heavy_rigid_truck_involved","articulated_truck_involved"]].drop_duplicates()
v_index = range(1,1+len(vehicle_df))
vehicle_df["vehicle_id"] = ["V" + str(i) for i in v_index]
vehicle_df = vehicle_df[["vehicle_id","bus_involved","heavy_rigid_truck_involved","articulated_truck_involved"]]
vehicle_df

,vehicle_id,bus_involved,heavy_rigid_truck_involved,articulated_truck_involved
0,V1,False,False,False
13,V2,False,False,True
31,V3,<NA>,<NA>,<NA>
32,V4,True,False,True
41,V5,False,True,False
75,V6,<NA>,True,<NA>
102,V7,False,True,True
103,V8,True,False,False
547,V9,True,True,False
1459,V10,<NA>,<NA>,True
19027,V11,False,<NA>,False
27747,V12,False,<NA>,True
28387,V13,True,<NA>,False
32584,V14,True,<NA>,True

In [22]:
# Create age_df
age_df = crashes_fatalities[["age_grp","age_value"]].drop_duplicates()
a_index = range(1,1+len(age_df))
age_df["age_id"] = ["A" + str(i) for i in a_index]
age_df = age_df[["age_id","age_value","age_grp"]]
age_df

     age_id age_value      age_grp
0        A1        74     65_to_74
1        A2        19     17_to_25
2        A3        33     26_to_39
3        A4        32     26_to_39
5        A5        61     40_to_64
...     ...       ...          ...
2440   A100        99  75_or_older
2561   A101        95  75_or_older
2588   A102        98  75_or_older
3428   A103        19         <NA>
5461   A104       101  75_or_older

[104 rows x 3 columns]

In [23]:
# Create person_df
person_df = crashes_fatalities[["road_user_value"]].drop_duplicates()
p_index = range(1,1+len(person_df))
person_df["person_id"] = ["P" + str(i) for i in p_index]
person_df = person_df[["person_id","road_user_value"]]
person_df

    person_id               road_user_value
0          P1                        Driver
5          P2                     Passenger
6          P3              Motorcycle rider
12         P4                    Pedestrian
50         P5                 Pedal cyclist
128        P6                      Other/-9
256        P7                          <NA>
488        P8  Motorcycle pillion passenger

In [24]:
# Create gender_df
gender_df = crashes_fatalities[["gender_value"]].drop_duplicates()
g_index = range(1,1+len(gender_df))
gender_df["gender_id"] = ["G" + str(i) for i in g_index]
gender_df = gender_df[["gender_id","gender_value"]]
gender_df

   gender_id gender_value
0         G1         Male
1         G2       Female
87        G3         <NA>

In [25]:
# Create road_df
road_df = crashes_fatalities[["road_type","speed_limit"]].drop_duplicates()
r_index = range(1,1+len(road_df))
road_df["road_id"] = ["R" + str(i) for i in r_index]
road_df = road_df[["road_id","road_type","speed_limit"]]
road_df

      road_id                  road_type  speed_limit
0          R1              Arterial Road          100
1          R2                 Local Road           80
2          R3                 Local Road           50
3          R4  National or State Highway          100
6          R5          Sub-arterial Road          100
...       ...                        ...          ...
9018      R98                 Local Road            5
10917     R99             Collector Road           75
11640    R100    Pedestrian Thoroughfare          100
11728    R101                       <NA>            5
24211    R102                       <NA>           75

[102 rows x 3 columns]

In [26]:
# Create location_df
location_df = crashes_fatalities[["remoteness_area","state_name","sa4_name","lga_name"]].drop_duplicates()
l_index = range(101,101+len(location_df))
location_df["location_id"] = ["L" + str(i) for i in l_index]
location_df = location_df[["location_id","lga_name","sa4_name","state_name","remoteness_area"]]
location_df

,location_id,lga_name,sa4_name,state_name,remoteness_area
0,L101,Wagga Wagga,Riverina,NSW,Inner Regional Australia
1,L102,Hawkesbury,Sydney - Baulkham Hills and Hawkesbury,NSW,Inner Regional Australia
2,L103,Northern Midlands,Launceston and North East,Tas,Inner Regional Australia
3,L104,Armidale Regional,New England and North West,NSW,Outer Regional Australia
5,L105,Lockyer Valley,Toowoomba,Qld,Inner Regional Australia
...,...,...,...,...,...
12064,L899,Boyup Brook,Bunbury,WA,Outer Regional Australia
12136,L900,Cottesloe,Perth - Inner,WA,Major Cities of Australia
12628,L901,Wickepin,Western Australia - Wheat Belt,WA,Remote Australia
12951,L902,Leonora,Western Australia - Outback (South),WA,Very Remote Australia
13162,L903,NaN,NaN,SA,<NA>

In [27]:
# Initialize crashes_df as a copy of crashes_fatalities
crashes_df = crashes_fatalities.copy()

# Define a list of DataFrames to merge
dfs = [location_df, road_df, gender_df, person_df, age_df, vehicle_df, outcome_df, holiday_df, time_df, date_df]
pd.set_option('display.max_columns', None)  # Show all columns

# Perform the merging one by one and track the merge progress
crashes_df = crashes_df.merge(location_df, on = ["lga_name","sa4_name","state_name","remoteness_area"])
crashes_df = crashes_df.merge(road_df, on = ['road_type', 'speed_limit'])
crashes_df = crashes_df.merge(gender_df, on = ['gender_value'])
crashes_df = crashes_df.merge(person_df, on = ['road_user_value'])
crashes_df = crashes_df.merge(age_df, on = ["age_value","age_grp"])
crashes_df = crashes_df.merge(vehicle_df, on = ['bus_involved', 'heavy_rigid_truck_involved', 'articulated_truck_involved'])
crashes_df = crashes_df.merge(outcome_df, on = ['number_fatalities','crash_type'])
crashes_df = crashes_df.merge(holiday_df, on = ['holiday_type'])
crashes_df = crashes_df.merge(time_df, on = ['time_value','time_of_day'])
crashes_df = crashes_df.merge(date_df, on = ['day_of_week','month_name','year'])

crashes_df

,crashkey,state_name,month_name,year,day_of_week,time_value,crash_type,number_fatalities,bus_involved,heavy_rigid_truck_involved,articulated_truck_involved,speed_limit,remoteness_area,sa4_name,lga_name,road_type,Christmas Period,Easter Period,weekday,time_of_day,road_user_value,gender_value,age_value,age_grp,holiday_type,location_id,road_id,gender_id,person_id,age_id,vehicle_id,outcome_id,holiday_id,time_id,date_id
0,20241115,NSW,12,2024,Friday,04:00,Single,1,False,False,False,100,Inner Regional Australia,Riverina,Wagga Wagga,Arterial Road,True,False,Weekday,Night,Driver,Male,74,65_to_74,Christmas,L101,R1,G1,P1,A1,V1,O1,H1,T101,D101
1,20241125,NSW,12,2024,Friday,06:15,Single,1,False,False,False,80,Inner Regional Australia,Sydney - Baulkham Hills and Hawkesbury,Hawkesbury,Local Road,False,False,Weekday,Day,Driver,Female,19,17_to_25,None,L102,R2,G2,P1,A2,V1,O1,H2,T102,D101
2,20246013,Tas,12,2024,Friday,09:43,Multiple,1,False,False,False,50,Inner Regional Australia,Launceston and North East,Northern Midlands,Local Road,True,False,Weekday,Day,Driver,Female,33,26_to_39,Christmas,L103,R3,G2,P1,A3,V1,O2,H1,T103,D101
3,20241002,NSW,12,2024,Friday,10:35,Multiple,1,False,False,False,100,Outer Regional Australia,New England and North West,Armidale Regional,National or State Highway,False,False,Weekday,Day,Driver,Female,32,26_to_39,None,L104,R4,G2,P1,A4,V1,O2,H2,T104,D101
4,20243185,Qld,12,2024,Friday,13:00,Multiple,1,False,False,False,100,Inner Regional Australia,Toowoomba,Lockyer Valley,National or State Highway,False,False,Weekday,Day,Passenger,Female,61,40_to_64,None,L105,R4,G2,P2,A5,V1,O2,H2,T105,D101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55734,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,True,100,<NA>,NaN,NaN,<NA>,False,False,Weekday,Night,Passenger,Male,13,0_to_16,None,L769,R32,G1,P2,A76,V12,O10,H2,T303,D3124
55735,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,True,100,<NA>,NaN,NaN,<NA>,False,False,Weekday,Night,Passenger,Female,11,0_to_16,None,L769,R32,G2,P2,A79,V12,O10,H2,T303,D3124
55736,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,True,100,<NA>,NaN,NaN,<NA>,False,False,Weekday,Night,Passenger,Female,13,0_to_16,None,L769,R32,G2,P2,A76,V12,O10,H2,T303,D3124
55737,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,True,100,<NA>,NaN,NaN,<NA>,False,False,Weekday,Night,Driver,Male,18,17_to_25,None,L769,R32,G1,P1,A51,V12,O10,H2,T303,D3124
55738,19896006,Tas,1,1989,Wednesday,20:20,Multiple,6,False,<NA>,True,100,<NA>,NaN,NaN,<NA>,False,False,Weekday,Night,Passenger,Female,14,0_to_16,None,L769,R32,G2,P2,A81,V12,O10,H2,T303,D3124

In [28]:
crashes_df["crash_count"] = 1
crashes_df["fatality_count"] = crashes_df['number_fatalities']
crashes_fact = crashes_df[['crashkey', 'date_id', 'time_id','holiday_id', 'location_id','road_id', 'outcome_id','vehicle_id','gender_id','person_id','age_id','crash_count','fatality_count']]
crashes_fact.head(3)

,crashkey,date_id,time_id,holiday_id,location_id,road_id,outcome_id,vehicle_id,gender_id,person_id,age_id,crash_count,fatality_count
0,20241115,D101,T101,H1,L101,R1,O1,V1,G1,P1,A1,1,1
1,20241125,D101,T102,H2,L102,R2,O1,V1,G2,P1,A2,1,1
2,20246013,D101,T103,H1,L103,R3,O2,V1,G2,P1,A3,1,1

In [28]:
csv_name = ['Dim_date.csv','Dim_time.csv','Dim_holiday.csv','Dim_location.csv','Dim_road.csv','Dim_outcome.csv','Dim_vehicle.csv','Dim_gender.csv','Dim_person.csv','Dim_age.csv']
dfs = [date_df, time_df, holiday_df, location_df, road_df, outcome_df, vehicle_df, gender_df, person_df, age_df]
for i in range(len(csv_name)):
    dfs[i].to_csv(csv_name[i], index = False)

In [30]:
crashes_fact['crashkey'] = range(101, len(crashes_fact) + 101)
crashes_fact.to_csv('Fact_Crashes.csv', index = False)

/var/folders/q2/bfhkc65d3gz4mgwcfz_ljdt00000gn/T/ipykernel_42833/134318998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crashes_fact['crashkey'] = range(101, len(crashes_fact) + 101)

In [35]:
import pandas as pd
import numpy as np
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [80]:
# Getting columns with categorical data types
mining_dataset = crashes_fatalities[[
    "state_name",
    "month_name",
    "day_of_week",
    "crash_type",
    "speed_limit",
    "remoteness_area",
    "road_type",
    "weekday",
    "gender_value",
    "age_grp",
    "road_user_value"]]
mining_dataset

# Checking possible values of the RHS
mining_dataset['road_user_value'].unique()

array(['Driver', 'Passenger', 'Motorcycle rider', 'Pedestrian',
       'Pedal cyclist', 'Other/-9', <NA>, 'Motorcycle pillion passenger'],
      dtype=object)

In [42]:
# Converting the dataset into string and dropping NA values
mining_dataset = mining_dataset.astype(str)
mining_dataset = mining_dataset.dropna()

transactions = mining_dataset.values.tolist()

te = TransactionEncoder()
array_te = te.fit(transactions).transform(transactions)

df_encoded = pd.DataFrame(array_te, columns = te.columns_)
df_encoded

,0_to_16,1,10,100,11,110,12,130,15,17_to_25,2,20,25,26_to_39,3,30,4,40,40_to_64,5,50,6,60,65_to_74,7,70,75,75_or_older,8,80,9,90,<NA>,ACT,Access road,Arterial Road,Busway,Collector Road,Driver,Female,Friday,Inner Regional Australia,Local Road,Major Cities of Australia,Male,Monday,Motorcycle pillion passenger,Motorcycle rider,Multiple,NSW,NT,National or State Highway,Other/-9,Outer Regional Australia,Passenger,Pedal cyclist,Pedestrian,Pedestrian Thoroughfare,Qld,Remote Australia,SA,Saturday,Single,Sub-arterial Road,Sunday,Tas,Thursday,Tuesday,Very Remote Australia,Vic,WA,Wednesday,Weekday,Weekend
0,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,True,True,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False
3,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55734,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False
55735,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False
55736,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False
55737,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False
55738,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False

In [91]:
## Association Rules Mining with mlxtend Library
# Apriori: get frequent itemsets
frequent_itemsets = apriori(df_encoded, min_support=0.1, use_colnames=True)
#Tried min_support = 0.2, but no values applied

frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets['length']

frequent_itemsets[ (frequent_itemsets['length']==2) & 
                  (frequent_itemsets['support']>=0.2)]

#Assume the min confidence is 0.4
rules_con = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.4)
result_arm = rules_con[['antecedents','consequents','support','confidence','lift']]

road_users = ['Driver', 'Passenger', 'Motorcycle rider', 'Pedestrian','Pedal cyclist', 'Motorcycle pillion passenger']
pattern = '|'.join(road_users)

# Filtering the rules where the consequent is a value from the road_user_value
rules = rules_con[rules_con['consequents'].astype(str).str.contains(pattern, case=False, regex=True)]
# Getting the top 5 rules based on lift and confidence
top5_combined = rules.sort_values(by=['lift', 'confidence'], ascending=False).head(5)
top5_combined

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
376,"(Male, 100)","(<NA>, Driver)",0.246309,0.362332,0.119557,0.485396,1.339646,1.0,0.030312,1.239144,0.336390,0.244452,0.192991,0.407681
140,"(100, Weekday)",(Driver),0.201708,0.454224,0.122643,0.608023,1.338596,1.0,0.031022,1.392366,0.316862,0.229975,0.281798,0.439014
132,"(Male, 100)",(Driver),0.246309,0.454224,0.149088,0.605288,1.332576,1.0,0.037208,1.382719,0.331135,0.270358,0.276787,0.466757
371,"(<NA>, Male, 100)",(Driver),0.199986,0.454224,0.119557,0.597829,1.316154,1.0,0.028719,1.357074,0.300258,0.223617,0.263121,0.430520
136,"(Single, 100)",(Driver),0.181220,0.454224,0.104864,0.578656,1.273943,1.0,0.022549,1.295320,0.262629,0.197640,0.227990,0.404759